*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #ececec;
}
.header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top-right{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-input{
    position: relative;
}

.header-top-right .header-input input{
    padding: 8px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #dbdbdb;

}

.header-top-right  .header-input i{
    position: absolute;
    top: 9px;
    right: 6px;
}

.header-top-right .delivery{
    position: relative;
}
.delivery button{
    padding: 8px 15px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    font-size: 15px;
    background-color: #486AA6;
    color: #fff;
}

.delivery i{
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 6px;
}
.header-icons{
    position: relative;
}
.header-icons i{
    margin: 8px;
    font-size: 16px;
}

.header-icons span{
    position: absolute;
    top: -15px;
    right: 5px;
    background-color: yellow;
    padding: 0 5px;
    border-radius: 8px;
}

.header-bottom{
    background-color: #486AA6;
    padding: 20px;
}
.header-bottom nav ul{
    display: flex;
    justify-content: space-evenly;
}
.header-bottom nav ul li{
    list-style: none;
    padding: 5px;

} 
.header-bottom nav ul li a:hover{
    color: yellow;
}
.header-bottom nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
#dog-bg{
    padding-left: 60px;
    height: 100vh;
    background-image: url(../photos/bg-Images.png);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dog-bg h2{
    font-size: 58px;
    font-weight: 600;
    max-width: 680px;
    color: #fff;
    margin-bottom: 20px;
}
#dog-bg h2 strong{
    color: yellow;
}

#dog-bg button{
    width: 100px;
    padding: 15px 5px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: yellow;
    cursor: pointer;
}

#animals-product {
    padding: 20px;
}
section h3{
    margin: 60px 0;
    text-align: center;
    font-size: 40px;
}

.animals-product-content{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.animals-product-content p{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.animals-product-content img:hover{
    transition: all 1s;
    scale: 1.1;
}

.new-trend-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-first,.img-second,.img-third,.img-forth{
    position: relative;
    cursor: pointer;
}

.img-first i,.img-second i,.img-third i,.img-forth i{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.trend-product-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.trend-product-section button{
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    font-size: 16px;
}

.trend-product-section-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    margin-top: 20px;
}

.product-box{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.product-box img:hover{
    transition: all 1s;
    scale: 1.1;
}
.box-txt p{
    margin-top: 15px;
    font-size: 18px;
}
.box-txt span{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.box-get{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;

}
.get-btn button, .fav-btn button{
    font-size: 15px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.services-container{
    height: 333px;
    background-image: url(../photos/services-bg.png);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.service-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 38vh;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
   
}
.service-box:hover{
    transition: all 1s;
    scale: 1.1;
}
#company{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 40px 0 20px 0;
}
#company img{
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 50px 0;
}

.contact ul li{
    list-style: none;
    margin: 5px;

}

.contact ul li a{
    color: black;
    text-decoration: none;
}

.input-send input{
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #ccc;
}
.input-send button{
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-left: -10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    background-color: #fff;
}
.play-app-store{
    cursor: pointer;
}
.social-network i{
    font-size: 25px;
    margin: 6px;
    color: #3a3a3a;
}